@charset "utf-8";


@import url('NanumBarunGothic/nanumbarungothic.css');
*{ font-family:'Nanum Barun Gothic','돋움', '굴림', serif;  line-height:1.5em; }
html { height: 100%; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{ margin:0; padding:0; color:#323232;}
body{margin:5px 10px; padding:0; font-size:16px; }
@media (max-width:768px) {
	body{margin:0; padding:0; font-size:12px; }
}
table{ border-collapse:collapse}
img,fieldset{ border:0; vertical-align:top;}
ul,ol{ list-style:none}
em,address{ font-style:normal}
a{ color:inherit;text-decoration:none}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{ margin:0; padding:0; border:0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block;}
body{ -webkit-text-size-adjust:none; }
ol, ul{ list-style:none;}
blockquote, q{ quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{ content:''; content:none; }
table{ width:100%; border-collapse:collapse; border-spacing:0; }
img{ border:0; max-width:100%; height:auto; }
iframe,
embed,
object,
video {max-width:100%;}
i, 
cite, 
em, 
var, 
address, 
dfn { font-style:normal;}

.blind,
legend{ position:absolute; left:0; top:0; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
caption{ display:none;}

h1 {font-size: 38px;font-weight: 700;}
h2 {font-size: 28px;margin-bottom: 15px;}
h3 {font-size: 32px; color:#222; font-weight:normal;}
h4 {font-size: 18px;font-weight: 700;}
h5 {font-size: 16px;text-transform: uppercase;font-weight: 700;}
h6 {font-weight: 700;}

h3.h3-tit{ text-align:center; margin:60px 0 30px; font-size:34px; color:#333; font-weight:300;}
h3.h3-tit.brdT{ border-top:#ddd 1px solid; padding-top:60px;}
h3.h3-tit+.h3-sub{ margin:-20px 0 60px; text-align:center;}
h4.h4-tit{ color:#2471c8; font-size:20px; margin:30px 0 10px; font-weight:normal;}
h4.h4-tit.gray{ color:#333;}
@media (max-width:768px) {
	h3.h3-tit{ text-align:center; margin:25px 0 15px; font-size:20px; color:#333;}
	h3.h3-tit+.h3-sub{ margin:-10px 0 20px; text-align:center;}
	h3.h3-tit+.h3-sub em{ display:inline-block;}
	h4.h4-tit{ color:#2471c8; font-size:14px; margin:15px 0 5px; font-weight:normal;}
	h4.h4-tit.gray{ color:#333;}
}
h3.h3-tit.fir,
h4.h4-tit.fir{ margin-top:0;}


/************************************************
	form
************************************************/
fieldset{border:0}
input,
textarea{ border:#c7c7c7 1px solid; }
input[type=text],
input[type=submit],
input[type=password],
input[type=file]{ line-height:36px; height:36px; text-indent:5px; padding:0; margin:0; vertical-align:middle; background:#fff; border-radius:2px; border:#ccc 1px solid; box-shadow:none;-webkit-appearance:none; ime-mode:auto; font-size:14px;}
input:read-only { background-color:#f9f9f9;}
input[type=image]{border:none;background:none;}
input.date{ margin-right:5px;}
input.block,
textarea.block,
select.block{ width:100%;}


input[type="checkbox"] { display: inline-block; width:20px; height:20px; border:none;vertical-align:middle; -webkit-appearance:none; border-radius:0; margin:0 5px 0 0; padding:0; cursor: pointer; background:url(../images/element_radio.png) no-repeat 50% 0;}
input[type="checkbox"] { border-radius:0; background:url(https://www.cleantopia.com/kr/images/element_check.png) no-repeat 50% 0;  }
input[type="checkbox"]:checked{background:url(https://www.cleantopia.com/kr/images/element_check.png) no-repeat 50% 100%; }
input[type="checkbox"]:disabled{background:#e4e4e4;  border:#a7a7a7 1px solid;}
input[type="checkbox"]:disabled:checked { background:#fff url(../images/element_check_dis.png) no-repeat 50% 50%; }

button{ border:0 none; background:none;}
textarea{ padding:10px 4px; border:#ccc 1px solid; border-radius:2px;margin:0;}
select{ height:36px; padding:0 2px 0 2px; min-width:110px; vertical-align:middle; }
select.select{ border:#ccc 1px solid;}
label { display:inline-block; vertical-align:middle; font-weight:normal;}
label.radio{ margin-right:20px;}

@media (min-width:641px) {
	.vis-pc{ display:block;}
	.vis-mobile{ display:none;}
}

@media (max-width:640px) {
	input[type="radio"], 
	input[type="checkbox"] { display:inline-block; width:16px; height:16px;background:url(../images/element_radio.png) no-repeat 50% 0; background-size:16px auto;}
	input[type="checkbox"] { border-radius:0; background:url(../images/element_check.png) no-repeat 20% 0; background-size:16px auto; }
	input[type="radio"]:checked{ background:url(/resources/images/element_radio.png) no-repeat 50% 0%; background-size:16px auto; }
	input[type="checkbox"]:checked{background:url(../images/element_check.png) no-repeat 50% 100%; background-size:16px auto; }
	input[type="radio"]:disabled { background:#e4e4e4;  border:#a7a7a7 1px solid;}
	input[type="checkbox"]:disabled{background:#e4e4e4;  border:#a7a7a7 1px solid;}
	input[type="radio"]:disabled:checked { background:#fff url(../images/element_radio_dis.png) no-repeat 50% 50%; }
	input[type="checkbox"]:disabled:checked { background:#fff url(../images/element_check_dis.png) no-repeat 50% 50%; }

	input[type=text],
	input[type=submit],
	input[type=password],
	input[type=file]{ line-height:30px; height:30px; text-indent:5px; padding:0; margin:0; vertical-align:middle; background:#fff; border-radius:0; border:#dbdbdb 1px solid; border-radius:2px;  box-shadow:none;-webkit-appearance:none; ime-mode:auto; font-size:14px;}
	select.selectBox{ height:30px; padding:0 30px 0 10px; min-width:80px; vertical-align:middle; border:none; border-bottom:#ccc 2px solid; font-size:12px; background:#fff url(../images/blt_select2.jpg) 100% 50% no-repeat; background-size:28px 6px;-webkit-appearance: none;  -moz-appearance: none; appearance: none;}
	select.select{ position:relative; height:30px; padding:0 28px 0 10px; min-width:80px; vertical-align:middle; border:#ccc 1px solid;  background-color:#fff; border-radius:2px; font-size:12px; background:url(../images/blt_select.jpg) 100% 50% no-repeat; background-size:29px 28px; -webkit-appearance: none;  -moz-appearance: none; appearance: none;}
	select.m-block{ display:block; width:100% !important;}
	
	.vis-pc{ display:none;}
	.vis-mobile{ display:block;}
}

a { -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out; }
a:hover { text-decoration:none;}
a:focus,
a:active {}
a.blue{ color:#2471c8;}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  outline:none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:before,
.clearfix:after,{
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}

:-ms-input-placeholder{color:#999; line-height:35px; vertical-align:middle; }
::-moz-placeholder{color:#999; line-height:35px; vertical-align:middle; }
:-moz-placeholder{color:#999; line-height:35px; vertical-align:middle; }
::-webkit-input-placeholder{ color:#999; vertical-align:middle; font-weight:normal; }

/* Buttons */
.btn{ padding:0 12px; line-height:36px; min-width:40px; margin:5px 10px; height:36px; font-size:14px; text-align:center; border-radius:2px; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; display:inline-block; vertical-align:middle;}

.btn-default{ background:#fff; color:#959595; border:#ccc 1px solid;}
.btn-default1{ background:rgba(100,100,100,0); color:#333; border:#333 1px solid; }
.btn-default2{ background:rgba(100,100,100,0); color:#2471c8; border:#2471c8 1px solid; }
.btn-default3{ background:transparent; color:#fff; border:#fff 1px solid; }

.btn-blue{ background:#2471c8; color:#fff; border:#2471c8 1px solid; }
.btn-gray{ background:#999; color:#fff; border:#999 1px solid; }

.btn-lg{ line-height:50px; height:50px; font-size:16px; padding:0 56px; border-radius:25px;}
.btn-sm{ line-height:30px; height:30px; font-size:12px; border-radius:3px;}

.btn>[class^="icon-"],
.btn>[class*="icon-"]{ display:inline-block; vertical-align:top; height:30px; width:14px; background-position:50% 50%; background-repeat:no-repeat;}
.btn>.icon-arr{ background:url(../images/icon_arr.png) 50% 50% no-repeat;}

/* btn-box */
.btn-box{ width:100%; margin-top:40px; text-align:center; position:relative; clear:both; }
.btn-box:after{content:'';display:block;clear:both;height:0px;visibility:hidden;}
.btn-box .btn{ float:none;}
.btn-box>.fr{ float:right;}
.btn-box>.fl{ float:left;}
.btn-box.page-line{ position:relative; z-index:1; height:0; margin-top:0; }
.btn-box.page-line .fr,
.btn-box.page-line .fl{ position:absolute; top:-30px; float:none; }
.btn-box.page-line .fr{right:0;}
.btn-box.page-line .fl{left:0;}
.btn-box [class^="btn"],
.btn-box [class*=" btn"]{margin:0 2px;}
.btn-box .fr [class^="btn"]:last-child,
.btn-box .fr [class*=" btn"]:last-child{margin-right:0;}
.btn-box .fl [class^="btn"]:first-child,
.btn-box .fl [class*=" btn"]:first-child{margin-left:0;}
.btn-box.r [class^="btn"]:last-child,
.btn-box.r [class*=" btn"]:last-child{margin-right:0;}

@media (max-width:640px) {
	.btn{ height:30px; line-height:30px; font-size:12px;}

	.btn-box{ margin-top:20px; }
	.btn-lg{ line-height:36px; height:36px; font-size:14px; padding:0 56px; border-radius:18px;}
	.btn.m-block{display:block; width:100%;}

	.btn-box.n2 .btn{ width:48%; padding:0;}
}


/* font */
.l{ text-align:left !important;}
.c{ text-align:center !important;}
.r{ text-align:right !important;}
.vt{ vertical-align:top !important;}
.vm{ vertical-align:middle !important;}
.underline{ text-decoration:underline;}
@media (max-width:640px) {
	.r.m-c{ text-align:center !important;}
}


/* color */
.cGreen{ color:#88b14b !important;}
.cBlue{ color:#2471c8 !important;}
.cBlue2{ color:#98bce5 !important;}
.c333{ color:#333 !important;}
.font16{ font-size:16px;}
.font14{ font-size:14px;}
@media (max-width:640px) {
	.font16{ font-size:16px;}
	.font14{ font-size:12px;}
}

/* margin, padding */
.pt0{ padding-top:0 !important;}
.ml0{ margin-left:0 !important;}
.ml10{ margin-left:10px !important;}
.mt0{ margin-top:0 !important;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.mt35{ margin-top:35px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}
.mt60{ margin-top:60px !important;}
.mt70{ margin-top:70px !important;}
.mt80{ margin-top:80px !important;}
.ml5{ margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml20{ margin-left:20px !important;}
.ml40{ margin-left:40px !important;}
.mr20{ margin-right:20px !important;}

/* blt- */
[class^="blt-"],
[class*="blt-"]{ display:inline-block; width:45px; height:20px; border-radius:0; overflow:hidden; text-align:center; line-height:20px; font-size:12px; color:#fff;}
.blt-orange{ background-color:#ff6e16; color:#ffe63f;}
.blt-green{ background-color:rgba(15,99,71,0.8); color:#fff;}

/* tx- */
[class^="tx-"],
[class*="tx-"]{ display:inline-block; min-width:40px; height:22px; border-radius:11px; padding:0 12px; overflow:hidden; text-align:center; line-height:22px; font-size:13px; color:#fff;}
.tx-blue{ background-color:#2471c8; color:#fff;}
@media (max-width:768px) {
	[class^="tx-"],
	[class*="tx-"]{ display:inline-block; min-width:30px; height:18px; border-radius:9px; padding:0 6px; overflow:hidden; text-align:center; line-height:19px; font-size:10px; color:#fff;}
}

/* cy_ */
[class^="cy_"],
[class*="cy_"]{ display:inline-block; width:46px; height:46px; border-radius:23px; padding:0; overflow:hidden; text-align:center; line-height:46px; font-size:12px;}
.cy_blue{ background-color:#2471c8; color:#fff;}
.cy_blue2{ background-color:#98bce5; color:#fff;}
.cy_gray{ background-color:#ccc; color:#fff;}
.cy_green{ background-color:#8ed585; color:#fff;}
.cy_default{ border:#9d9d9d 1px solid; background-color:rgba(100,100,100,0); color:#333;}





/*************************************************************************

	201901 의류보관 서비스

*************************************************************************/


.btn-default4{ background:#fff; color:#8a8fa2; border:#8a8fa2 1px solid;padding:0px;}



